<div id="product-div">
    {{#each products}}
        <li>Codigo: {{this.code}}
            <ul>Nombre: {{this.title}}</ul>
            <ul>Descripción: {{this.description}}</ul>
            <ul>Stock: {{this.stock}}</ul>
        </li>
    {{/each}}
</div>